/Debug
/Release
/CPPFormsApiWrapper/Debug
/CPPFormsApiWrapper/Release
/.vs
/Tester
/CPPFormsApiWrapperTest/Debug
/CPPFormsApiWrapperTest/Release
/packages
/CPPFormsApiWrapper_solution_suppressions.cfg
/CPPFormsApiWrapper/CPPFormsApiWrapper_project_suppressions.cfg
